/* @media (max-width: 1200px){}
@media (max-width: 1025px){}
@media (max-width: 768px){}
@media (max-width: 576px){}
@media (max-width: 320px){} */



/* Responsive */
@media (max-width: 1200px){
 .menu-links {
        padding: 16px 9px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .widget-heading {
        font-size: 14px;
        font-weight: bold;
        color: #f2f207;
        margin-bottom: 6px;
    }

    .hero-content h1 {
        font-size: 100px;
        line-height: 80px;
        padding: 24px 0 19px 0;
    }

    .hero-content h4 {
        font-size: 34px;
        line-height: 50px;
    }

    .hero-content p {
        font-size: 25px;
        line-height: 31px;
    }
    .hero-btn {
    margin: 60px 0 0;
}
.how-work-card p {
    font-size: 17px;
    color: #282828;
    line-height: 22px;
}
.how-work-card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    color: #292929;
    padding: 0px 0;
}
.our-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.service-photo img {
    width: 100%;
    height: 633px;
}

.testimonial-card h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 10px 0;
}

.our-service-head h1 {
    color: #292929;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 0 0 50px 0;
    line-height: 60px;
}
.how-work-head h1 {
    color: #292929;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 35px 0 0 0;
    line-height: 60px;
}
.why-choose-heading h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}
.who-we-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
    padding: 10px 0;
}

/* faqs page /////// */

.faqs-head h1 {
    font-size: 34px;
    line-height: 36px;
    padding: 1px 0 16px 0;
}
.faqs-head p {
    font-size: 17px;
    line-height: 23px;
}
section.accordian-section {
    padding: 50px 0;
}
.accordion {
    padding: 17px 8px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 600;
}
.panel {
    padding: 0 18px;
    font-size: 16px;
}
.faqs-footer h1 {
    font-size: 25px;
    line-height: 29px;
    padding: 0px 0 8px 0;
}
.faqs-footer p {
    font-size: 16px;
    line-height: 26px;
}
.note-para {
    text-align: left !important;
}
.form-section p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}

.form-section h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-align: center;
    padding: 0px 0 5px 0px;
}

.book-btn {
    background: #ffffff;
    padding: 8px 10px;
    width: 170px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 8px 0 0;
    font-size: 18px;
}
.form-section {
    background-color: #2a2a2a;
    color: white;
    padding: 41px 29px 0 29px;
    margin: 0 0 25px 0;
}
.testimonial-card {
    background: #f9f9f9;
    text-align: center;
    padding: 14px;
    height: 370px;
    overflow: hidden;
}
.testimonial-card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #292929;
}
.testimonial-card h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    padding: 10px 0;
}
}


/* Responsive */
@media (max-width: 1025px) {

    .menu-links {
        padding: 16px 9px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .widget-heading {
        font-size: 14px;
        font-weight: bold;
        color: #f2f207;
        margin-bottom: 6px;
    }

    .hero-content h1 {
        font-size: 100px;
        line-height: 80px;
        padding: 24px 0 19px 0;
    }

    .hero-content h4 {
        font-size: 34px;
        line-height: 50px;
    }

    .hero-content p {
        font-size: 25px;
        line-height: 31px;
    }
    .hero-btn {
    margin: 60px 0 0;
}
.how-work-card p {
    font-size: 17px;
    color: #282828;
    line-height: 22px;
}
.how-work-card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    color: #292929;
    padding: 0px 0;
}
.our-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.service-photo img {
    width: 100%;
    height: 678px;
}

.testimonial-card h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 10px 0;
}


/* faqs page /////// */

.faqs-head h1 {
    font-size: 34px;
    line-height: 36px;
    padding: 1px 0 16px 0;
}
.faqs-head p {
    font-size: 17px;
    line-height: 23px;
}
section.accordian-section {
    padding: 50px 0;
}
.accordion {
    padding: 17px 8px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 600;
}
.panel {
    padding: 0 18px;
    font-size: 16px;
}
.faqs-footer h1 {
    font-size: 25px;
    line-height: 29px;
    padding: 0px 0 8px 0;
}
.faqs-footer p {
    font-size: 16px;
    line-height: 26px;
}

.testimonial-card {
    background: #f9f9f9;
    text-align: center;
    padding: 14px;
    height: 370px;
    overflow: hidden;
}
.testimonial-card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #292929;
}
.testimonial-card h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    padding: 10px 0;
}
.note-para {
    text-align: left !important;
}
.form-section p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}

.form-section h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-align: center;
    padding: 0px 0 5px 0px;
}

.book-btn {
    background: #ffffff;
    padding: 8px 10px;
    width: 170px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 8px 0 0;
    font-size: 18px;
}
.form-section {
    background-color: #2a2a2a;
    color: white;
    padding: 41px 29px 0 29px;
    margin: 0 0 25px 0;
}
section.contact-form {
    padding: 0 0 0px 0;
}
.contacs-media {
    color: #000;
    padding-left: 25px;
    padding-top: 14px;
}
.get-in-social {
    padding: 20px 0;
}   
.daily-time h4 {
    font-size: 20px;
    line-height: 37px;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.daily-time p {
    font-size: 18px;
    line-height: 25px;
}
.get-in-touch p {
    font-size: 18px;
    line-height: 50px;

}
.get-in-social span {
    font-size: 20px;
    margin: 0 15px 0 0;
    width: 40px;
    height: 40px;

}
}

/* Responsive */
@media (max-width: 768px) {
    header {
        backdrop-filter: none;
        /* optional: adds a light glass effect */
    }

    .mobile-header {
        display: block;
        background: #000;
    }

    .distop-header {
        display: none;
    }

    .Contact-us {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .menu-links.show {
        display: flex;
    }

    .dropdown-content {
        position: static;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown.open .dropdown-content {
        display: block;
    }

    .sidenav {
        padding-top: 50px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #46423e;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .mobile-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 30px 5px 24px;
        gap: 10px;
    }

    .mobile-image img {
        width: 28%;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sidenav a {
        font-size: 21px;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px 0px 8px 0px;
    }

    .sidenav a {
        font-size: 21px;
        color: white;
        text-align: center;
        padding: 10px 0px 8px 0px;
    }

    header .mobile-menu .contact-btns a.Enroll:hover,
    header .mobile-menu .contact-btns a.login {
        transition: 0.5s;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        background: #000;
        border: 1px solid #000;
        border-radius: 4px;
        display: block;
        padding: 2px 10px;
        margin: 10px auto;
    }

    header .mobile-menu .contact-btns a.login:hover,
    header .mobile-menu .contact-btns a.Enroll {
        display: block;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        background: #000;
        border: 1px solid #000;
        border-radius: 4px;
        padding: 2px 10px;
        margin: 10px auto;
    }

    .page-links {
        display: flex;
        justify-content: center;
        gap: 8px;
        padding: 27px 0;
        flex-wrap: wrap;
        background-color: rgba(60, 60, 60, 1) !important;
    }

    .widget-button {
        display: block;
        background-color: #140a25;
        color: #fff;
        text-decoration: none;
        margin: 0px 0;
        padding: 16px 11px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .menu-links {
        padding: 16px 34px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .dropdown-content a {
        color: #000;
    }

    .hero-content h4 {
        font-size: 45px;
        line-height: 67px;
    }

    .hero-content h4 span {
        background: #292929;
        color: #fff;
        padding: 2px 9px;
    }

    .hero-content h1 {
        font-size: 133px;
        line-height: 113px;
        padding: 15px 0 10px 0;
    }

    .hero-content p {
        font-size: 23px;
        line-height: 20px;
    }

    .hero-btn {
        padding: 10px 10px;
        margin: 30px 0 15px 0;
    }

    .who-we-content h1 {
        font-size: 34px;
        line-height: 40px;
        padding: 10px 0;
    }


    .choose-card h4 {
        font-size: 16px;
        font-weight: 700;
        padding: 20px 0 2px 0;
    }

    .choose-card p {
        font-size: 15px;
        font-weight: 400;
    }

    .why-choose-heading h1 {
        font-size: 35px;
        text-align: center;
        padding: 0 0 26px 0;
    }

    .who-we-content p {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 0;
    }

    section.who-we-section {
        padding: 30px 0;
    }

    .choose-card {
        margin: 20px 0;
    }

    .how-work-head h1 {
        font-size: 35px;
        padding: 0px 0 0 0;
        line-height: 47px;
    }

    .how-work-head {
        text-align: center;
        padding: 10px 0 36px 0;
        color: #282828;
    }

    .how-work-head p {
        font-size: 18px;
        line-height: 21px;
    }

    .how-work-card h4 {
        font-size: 20px;
        line-height: 27px;
        padding: 10px 0;
    }

    .how-work-card img {
        width: 35%;
    }

    .how-work-card {
        text-align: center;
        padding: 10px 13px;
    }

    .how-work-card p {
        font-size: 16px;
        line-height: 21px;
    }

    .our-service-head h1 {
        font-size: 33px;
        padding: 0 0 24px 0;
        line-height: 54px;
    }

    section.service-price-section {
        padding: 0px 0;
    }

    .service-price h1 {
        font-size: 30px;
    }

    .service-price {
        padding: 25px 24px;

    }

    .service-price h1 {
        font-size: 30px;

    }

    .pri-estimator h4 {
        font-size: 30px;
        line-height: 42px;
        padding: 8px 0 0px 0;
    }

    .price-result p {
        font-size: 16px;
        line-height: 34px;
    }

    section.aftercare-section {
        padding: 30px 0;
        margin: 50px 0;
    }

    .aftercare-content p {
        font-size: 16px;
        line-height: 25px;
    }

    .aftercare-content p {
        font-size: 16px;
        line-height: 25px;
    }

    section.aftercare-section {
        padding: 30px 0;
        margin: 50px 0;
    }

    section.testimonial-section {
        padding: 0 0 50px 0;
    }

    .testimonial-head h1 {
        font-size: 30px;
        line-height: 41px;
        padding: 1px 0 0px 0;
    }

    .testimonial-head p {
        font-size: 16px;
        padding: 0 0 0px 0;
    }

    .testimonial-card {
        padding: 12px;
        margin: 10px 0;
    }

    .footer-links ul li {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 5px 0;
    }

    .footer-media ul li {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 0;
    }

    .footer-coantct ul li {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 0;
    }

    .footer-links ul li a {
        font-size: 16px;
        font-weight: 400;
    }

    .subscribe-btn input {
        width: 65%;

    }

    .our-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.service-photo img {
    width: 100%;
    height: auto;
}

.testimonial-card h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
}

/* faqs page /////// */

.faqs-head h1 {
    font-size: 27px;
    line-height: 34px;
    padding: 0px 0 10px 0;
}
.faqs-head p {
    font-size: 17px;
    line-height: 23px;
}
section.accordian-section {
    padding: 0;
}
.accordion {
    padding: 17px 8px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 600;
}
.panel {
    padding: 0 18px;
    font-size: 16px;
}
.faqs-footer h1 {
    font-size: 25px;
    line-height: 29px;
    padding: 0px 0 8px 0;
}
.faqs-footer p {
    font-size: 16px;
    line-height: 26px;
}
.footer-logo img {
    width: 60%;
}

.testimonial-card {
    background: #f9f9f9;
    text-align: center;
    padding: 30px;
    height: 326px;
    overflow: hidden;
}
.form-section p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}
.form-section h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-align: center;
    padding: 0px 0 5px 0px;
}

.book-btn {
    background: #ffffff;
    padding: 8px 10px;
    width: 170px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 8px 0 0;
    font-size: 18px;
}
.form-section {
    background-color: #2a2a2a;
    color: white;
    padding: 41px 29px 0 29px;
    margin: 0 0 25px 0;
}
.note-para {
    text-align: left !important;
}
.form-heading p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
}
.form-heading h1 {
    font-size: 36px;
    line-height: 52px;
    padding: 0px 0;
}
section.contact-form {
    padding: 0 0 50px 0;
}
.contacs-media {
    color: #000;
    padding-left: 0;
}
.get-in-social {
    padding: 20px 0;
}   
.daily-time h4 {
    font-size: 20px;
    line-height: 37px;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.daily-time p {
    font-size: 18px;
    line-height: 25px;
}
.get-in-touch p {
    font-size: 18px;
    line-height: 50px;

}
.get-in-social span {
    font-size: 20px;
    margin: 0 15px 0 0;
    width: 40px;
    height: 40px;

}
}

/* Responsive */
@media (max-width: 425px) {
    header {
        backdrop-filter: none;
        /* optional: adds a light glass effect */
    }

    .mobile-image img {
        width: 70%;
    }

    .mobile-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 30px 5px 24px;
        gap: 10px;
    }

    .hero-section {
        margin: 0px 16px;
    }

    header {
        backdrop-filter: none;
        /* optional: adds a light glass effect */
    }

    .mobile-image img {
        width: 70%;
    }

    .mobile-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 30px 5px 24px;
        gap: 10px;
    }

    .hero-section {
        margin: 0px 16px;
    }

    .hero-content h4 {
        font-size: 45px;
        line-height: 67px;
    }

    .hero-content h4 span {
        background: #292929;
        color: #fff;
        padding: 2px 9px;
    }

    .hero-content h1 {
        font-size: 86px;
        line-height: 113px;
        padding: 0px 0 2px 0;
    }

    .hero-content p {
        font-size: 23px;
        line-height: 20px;
    }

    .hero-btn {
        padding: 10px 10px;
        margin: 30px 0 15px 0;
    }

    .who-we-content h1 {
        font-size: 34px;
        line-height: 40px;
        padding: 10px 0;
    }

    .who-we-content p {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 0;
    }

    section.who-we-section {
        padding: 30px 0;
    }

    .why-choose-heading h1 {
        font-size: 30px;
        text-align: center;
        padding: 0px 0;
    }

    .choose-card {
        margin: 20px 0;
    }

    .how-work-head h1 {
        font-size: 35px;
        padding: 0px 0 0 0;
        line-height: 47px;
    }

    .how-work-head {
        text-align: center;
        padding: 10px 0 36px 0;
        color: #282828;
    }

    .how-work-head p {
        font-size: 18px;
        line-height: 21px;
    }

    .how-work-card h4 {
        font-size: 26px;
        line-height: 50px;
        padding: 0px 0;
    }

    .how-work-card {
        text-align: center;
        padding: 10px 13px;
    }

    .how-work-card p {
        font-size: 18px;
        line-height: 24px;
    }

    .our-service-head h1 {
        font-size: 33px;
        padding: 0 0 24px 0;
        line-height: 54px;
    }

    section.service-price-section {
        padding: 0px 0;
    }

    .service-price h1 {
        font-size: 30px;
    }

    .service-price {
        padding: 25px 24px;

    }

    .service-price h1 {
        font-size: 30px;

    }

    .pri-estimator h4 {
        font-size: 30px;
        line-height: 42px;
        padding: 8px 0 0px 0;
    }

    .price-result p {
        font-size: 16px;
        line-height: 34px;
    }

    section.aftercare-section {
        padding: 30px 0;
        margin: 50px 0;
    }

    .aftercare-content p {
        font-size: 16px;
        line-height: 25px;
    }

    .aftercare-content p {
        font-size: 16px;
        line-height: 25px;
    }

    section.aftercare-section {
        padding: 30px 0;
        margin: 50px 0;
    }

    section.testimonial-section {
        padding: 0 0 50px 0;
    }

    .testimonial-head h1 {
        font-size: 30px;
        line-height: 41px;
        padding: 1px 0 0px 0;
    }

    .testimonial-head p {
        font-size: 16px;
        padding: 0 0 0px 0;
    }

    .testimonial-card {
        padding: 12px;
        margin: 10px 0;
    }

    .footer-links ul li {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 5px 0;
    }

    .footer-media ul li {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 0;
    }

    .footer-coantct ul li {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 0;
    }

    .footer-links ul li a {
        font-size: 16px;
        font-weight: 400;
    }

    .how-work-card img {
        width: 20%;
    }

    .subscribe-btn input {
        width: 100%;

    }
        .our-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.testimonial-card h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
}
/* faqs page /////// */

.faqs-head h1 {
    font-size: 27px;
    line-height: 34px;
    padding: 0px 0 10px 0;
}
.faqs-head p {
    font-size: 17px;
    line-height: 23px;
}
section.accordian-section {
    padding: 0;
}
.accordion {
    padding: 17px 8px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 600;
}
.panel {
    padding: 0 18px;
    font-size: 16px;
}
.faqs-footer h1 {
    font-size: 25px;
    line-height: 29px;
    padding: 0px 0 8px 0;
}
.faqs-footer p {
    font-size: 16px;
    line-height: 26px;
}
.form-section p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}
.note-para {
    text-align: left !important;
}
.form-section h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-align: center;
    padding: 0px 0 10px 0px;
}

.book-btn {
    background: #ffffff;
    padding: 8px 10px;
    width: 170px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 8px 0 0;
    font-size: 18px;
}
.form-section {
    background-color: #2a2a2a;
    color: white;
    padding: 41px 29px 0 29px;
    margin: 0 0 25px 0;
}

.form-heading p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
}
.form-heading h1 {
    font-size: 36px;
    line-height: 52px;
    padding: 0px 0;
}
section.contact-form {
    padding: 0 0 50px 0;
}
.contacs-media {
    color: #000;
    padding-left: 0;
}
.get-in-social {
    padding: 20px 0;
}   
.daily-time h4 {
    font-size: 20px;
    line-height: 37px;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.daily-time p {
    font-size: 18px;
    line-height: 25px;
}
.get-in-touch p {
    font-size: 18px;
    line-height: 50px;

}
.get-in-social span {
    font-size: 20px;
    margin: 0 15px 0 0;
    width: 40px;
    height: 40px;

}
}



/* Responsive */
@media (max-width: 375px) {
    header {
        backdrop-filter: none;
        /* optional: adds a light glass effect */
    }

    .mobile-image img {
        width: 70%;
    }

    .mobile-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 30px 5px 24px;
        gap: 10px;
    }

    .hero-section {
        margin: 0px 16px;
    }

    .hero-content h4 {
        font-size: 40px;
        line-height: 60px;
    }

    .hero-content h1 {
        font-size: 75px;
        line-height: 113px;
        padding: 0px 0 2px 0;
    }

    .hero-content p {
        font-size: 23px;
        line-height: 20px;
    }

    .hero-btn {
        padding: 10px 10px;
        margin: 30px 0 15px 0;
    }

    .who-we-content h1 {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 0;
    }

    .who-we-content p {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 0;
    }

    section.who-we-section {
        padding: 30px 0;
    }

    .why-choose-heading h1 {
        font-size: 30px;
        text-align: center;
        padding: 0px 0;
    }

    .choose-card {
        margin: 20px 0;
    }

    .how-work-head h1 {
        font-size: 30px;
        padding: 0px 0 0 0;
        line-height: 40px;
    }

    .how-work-head {
        text-align: center;
        padding: 10px 0 36px 0;
        color: #282828;
    }

    .how-work-head p {
        font-size: 18px;
        line-height: 21px;
    }

    .how-work-card h4 {
        font-size: 26px;
        line-height: 50px;
        padding: 0px 0;
    }

    .how-work-card {
        text-align: center;
        padding: 10px 13px;
    }

    .how-work-card p {
        font-size: 18px;
        line-height: 24px;
    }

    .our-service-head h1 {
        font-size: 30px;
        padding: 0 0 24px 0;
        line-height: 54px;
    }

    section.service-price-section {
        padding: 0px 0;
    }

    .service-price h1 {
        font-size: 30px;
    }

    .service-price {
        padding: 25px 24px;

    }

    .service-price h1 {
        font-size: 30px;

    }

    .pri-estimator h4 {
        font-size: 30px;
        line-height: 42px;
        padding: 8px 0 0px 0;
    }

    .price-result p {
        font-size: 16px;
        line-height: 34px;
    }

    section.aftercare-section {
        padding: 30px 0;
        margin: 50px 0;
    }

    .aftercare-content p {
        font-size: 16px;
        line-height: 25px;
    }

    .aftercare-content p {
        font-size: 16px;
        line-height: 25px;
    }

    section.aftercare-section {
        padding: 30px 0;
        margin: 50px 0;
    }

    section.testimonial-section {
        padding: 0 0 50px 0;
    }

    .testimonial-head h1 {
        font-size: 30px;
        line-height: 41px;
        padding: 1px 0 0px 0;
    }

    .testimonial-head p {
        font-size: 16px;
        padding: 0 0 0px 0;
    }

    .testimonial-card {
        padding: 12px;
        margin: 10px 0;
    }

    .footer-links ul li {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 5px 0;
    }

    .footer-media ul li {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 0;
    }

    .footer-coantct ul li {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 0;
    }

    .footer-links ul li a {
        font-size: 16px;
        font-weight: 400;
    }

    .how-work-card img {
        width: 20%;
    }

    .subscribe-btn input {
        width: 100%;

    }
        .our-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.custom-wrap-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* optional */
}
.testimonial-card h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
}

/* faqs page /////// */

.faqs-head h1 {
    font-size: 27px;
    line-height: 34px;
    padding: 0px 0 10px 0;
}
.faqs-head p {
    font-size: 17px;
    line-height: 23px;
}
section.accordian-section {
    padding: 0;
}
.accordion {
    padding: 17px 8px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 600;
}
.panel {
    padding: 0 18px;
    font-size: 16px;
}
.faqs-footer h1 {
    font-size: 25px;
    line-height: 29px;
    padding: 0px 0 8px 0;
}
.faqs-footer p {
    font-size: 16px;
    line-height: 26px;
}

.form-heading p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
}
.form-heading h1 {
    font-size: 36px;
    line-height: 52px;
    padding: 0px 0;
}
section.contact-form {
    padding: 0 0 50px 0;
}
.contacs-media {
    color: #000;
    padding-left: 0;
}
.get-in-social {
    padding: 20px 0;
}   
.daily-time h4 {
    font-size: 20px;
    line-height: 37px;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.get-in-social h4 {
    font-size: 20px;
    line-height: 12px;
    margin: 0 0 10px 0;
}
.daily-time p {
    font-size: 18px;
    line-height: 25px;
}
.get-in-touch p {
    font-size: 18px;
    line-height: 50px;

}
.get-in-social span {
    font-size: 20px;
    margin: 0 15px 0 0;
    width: 40px;
    height: 40px;

}
}